@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/sf-ui-display-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/sf-ui-display-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/sf-ui-display-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/sf-ui-display-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text-main: #32312f;
  --color-text-secondary: #656565;
  --color-accent: #ff5c00;
}

body {
  font-family:
    "SF UI Display",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-weight: 400;
}
.card {
  max-width: 508px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

/*  slider */

.card__slider {
  max-height: 338px;
  overflow: hidden;
}
.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-zoom {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  cursor: zoom-in;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  text */
.card__article {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-text-secondary);
  margin-bottom: 3px;
}
.card__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: var(--color-text-main);
  margin-bottom: 3px;
}
.card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-text-main);
  margin-bottom: 20px;
}

/*  radio button */

.card__mod-list {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.card__mod-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.card__mod-item {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
  color: #32312f;
  border: 1px solid #e5e5e5;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.card__mod-icon {
  display: none;
}

.card__mod-radio:checked + .card__mod-item {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  background-color: #32312f;
  color: #ffffff;
  border-color: #32312f;
}

.card__mod-radio:checked + .card__mod-item .card__mod-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  color: var(--color-text-main);
  padding: 2px;
}

.card__mod-radio:checked + .card__mod-item .card__mod-icon svg {
  width: 11px;
  height: 8px;
  fill: #32312f;
}

/*  price  */

.card__price {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.card__price-value-text {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-secondary);
  margin-bottom: 3px;
}

.card__price-value-number {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-text-main);
  margin-bottom: 3px;
}
.card__price-meter {
  display: flex;
  gap: 7px;
}
.card__price-meter-text {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-secondary);
}
.card__price-meter-number {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text-main);
}

.card__buy-btn {
  padding: 16.5px 79.5px;
  border-radius: 14px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: var(--color-accent);
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0;
  border: none;
}

.card:hover .card__buy-btn {
  opacity: 1;
}

/*  footer  */
.like-icon {
  width: 30px;
  height: 30px;
  color: var(--color-text-main);
  transition: scale 0.2s;
  cursor: pointer;
}

.like-icon--active {
  color: var(--color-accent);
}

.like-icon:hover {
  scale: 1.05;
}

.arrow-icon {
  width: 100px;
  height: 100px;
  color: var(--color-accent);
}
